extends layout

block body

  .dashboard
    .row
      .col-lg-12
        .jumbotron
          h1 Dashboard
          br
          br
          p Welcome to your user dashboard #{session.komoner.username} !
